In [2]:
#import Libraries
! pip install kaggle 
! pip install pandas sqlalchemy pyodbc

Requirement already satisfied: kaggle in e:\code\conda\envs\dataanalysis1\lib\site-packages (1.7.4.5)
Requirement already satisfied: bleach in e:\code\conda\envs\dataanalysis1\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in e:\code\conda\envs\dataanalysis1\lib\site-packages (from kaggle) (2025.11.12)
Requirement already satisfied: charset-normalizer in e:\code\conda\envs\dataanalysis1\lib\site-packages (from kaggle) (3.4.4)
Requirement already satisfied: idna in e:\code\conda\envs\dataanalysis1\lib\site-packages (from kaggle) (3.11)
Requirement already satisfied: protobuf in e:\code\conda\envs\dataanalysis1\lib\site-packages (from kaggle) (6.33.1)
Requirement already satisfied: python-dateutil>=2.5.3 in e:\code\conda\envs\dataanalysis1\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in e:\code\conda\envs\dataanalysis1\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in e:\code\conda\envs\dataanalysis1\lib\site-packages (from kaggle) (2.32.5)
Requirement already satisfied: setuptools>=21.0.0 in e:\code\conda\envs\dataanalysis1\lib\site-packages (from kaggle) (80.9.0)
Requirement already satisfied: six>=1.10 in e:\code\conda\envs\dataanalysis1\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in e:\code\conda\envs\dataanalysis1\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in e:\code\conda\envs\dataanalysis1\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in e:\code\conda\envs\dataanalysis1\lib\site-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in e:\code\conda\envs\dataanalysis1\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: colorama in e:\code\conda\envs\dataanalysis1\lib\site-packages (from tqdm->kaggle) (0.4.6)
Requirement already satisfied: pandas in e:\code\conda\envs\dataanalysis1\lib\site-packages (2.3.3)
Requirement already satisfied: sqlalchemy in e:\code\conda\envs\dataanalysis1\lib\site-packages (2.0.44)
Requirement already satisfied: pyodbc in e:\code\conda\envs\dataanalysis1\lib\site-packages (5.3.0)
Requirement already satisfied: numpy>=1.22.4 in e:\code\conda\envs\dataanalysis1\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\code\conda\envs\dataanalysis1\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\code\conda\envs\dataanalysis1\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in e:\code\conda\envs\dataanalysis1\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in e:\code\conda\envs\dataanalysis1\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in e:\code\conda\envs\dataanalysis1\lib\site-packages (from sqlalchemy) (4.14.1)
Requirement already satisfied: six>=1.5 in e:\code\conda\envs\dataanalysis1\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
import kaggle

In [ ]:
#download dataset using kaggle API
! kaggle datasets download ankitbansal06/retail-orders -f orders.csv.zip
# if you have already downloaded the dataset, you can skip the above step and directly unzip the file using the command below

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv to e:\Code\Projects\简历相关项目\-Data-Analytics-Proj.-PinAnBank

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|██████████| 200k/200k [00:00<00:00, 205MB/s]

In [ ]:
import os
os.getcwd()

'e:\\Code\\Projects\\简历相关项目\\-Data-Analytics-Proj.-PinAnBank'

In [14]:
#extract file from zip file
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall() #extract file to dir
zip_ref.close() #close file

In [15]:
#Read data from the file and handle null values
import pandas as pd
df = pd.read_csv('orders.csv',na_values=['Not Available', 'unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [ ]:
# Rename columns names and make them lower case and replace space with underscore
# 最常见的数据清洗方式: 把所有列名 → 都变成小写 → 再把空格换成下划线
# 通常一个完整的数据清洗流程包括：

# 检查缺失值

# 检查重复值

# 检查异常值

# 修正数据类型

# 标准化文本

# 特征工程

# 删除无用列

# 标准化列名

# 重新排序列

# 保存干净版本的数据

df.rename(columns={'Order Id':'order_id', 'City': 'city'}) 
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [18]:
#Drive new columns discount, sale price and profit
df['discount']=df['list_price']*df['discount_percent']*.01
df['sale_price']=df['list_price']-df['discount']
df['profit']=df['sale_price']-df['cost_price']
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [21]:
#convert order date from object data type to datetime
df.dtypes

# df['order_date']=pd.to_datetime(df['order_date'],format="%Y-%m-%d")

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
dtype: object

In [22]:
# drop cost price, list price and discount percent columns
# 这些列：

# 没有分析价值

# 后续不会用

# 过多冗余列会影响可读性和模型质量（如果后续做机器学习）

df.drop(['list_price', 'cost_price', 'discount_percent'], axis=1, inplace=True)
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'profit'],
      dtype='object')

In [27]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost:3306/mydb")
conn = engine.connect()
print("Connected successfully!")

Connected successfully!

In [ ]:
# 测试是否连接上SQL数据库
from sqlalchemy import text

result = conn.execute(text("SELECT DATABASE();"))
print(result.fetchone())

('mydb',)

In [24]:
#Connect to sql server 
import sqlalchemy as sal
from sqlalchemy import create_engine
engine = sal.create_engine('mssql://Suhith39\\SQLEXPRESS/mydatabase?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

InterfaceError: (pyodbc.InterfaceError) ('IM002', '[IM002] [Microsoft][ODBC 驱动程序管理器] 未发现数据源名称并且未指定默认驱动程序 (0) (SQLDriverConnect)')
(Background on this error at: https://sqlalche.me/e/20/rvf5)

In [ ]:
#Load the data into sql server using append option
# 如果正常输出则代表已经导入SQL数据库
# 接下来移到SQL Server查看数据
df.to_sql('df_orders', con=conn, index=False, if_exists = 'append')

9994